#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 0;

  .support {
    > * {
      display: inline-block;
    }
  }

  .nav-link {
    position: relative;
  }

  .nav-link::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 100px 51px $cadet;
    z-index: -1;
  }
}
