#header-nav {
  li::after {
    content: '·';
    width: 13px;
    height: 13px;
    display: list-item;
    margin-top: -40px;
    float: right;
    font-size: 20pt;
    padding-left: 10px;
  }

  li:last-child::after {
    content: '';
  }
}
