{% extends "index.html" %}

{% block content %}
<center>
    <p>Our research is supported by our wonderful partners.</p>
</center>

<div class='card-deck'>
    {% for partner in page.extra.partners %}
    <div class='card'>
        <div class='card-header'>
            <img src='/images/{{ partner.id }}.png' alt='{{ partner.name }}'>
        </div>
        <div class='card-body'>
            <h5 class='card-title'><a href='{{ partner.url }}'>{{ partner.name }}</a></h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}