{% extends "index.html" %}

{% block content %}

<p>
    Decrypto is inviting senior undergraduate and graduate students to
    conduct their Bachelor or Master theses with us. Our thesis internships
    are full-time semester-long research positions in which you will work closely with
    a PhD, post-doc, or professor supervisor to conduct a challenging and impactful
    research-level project. The goal of the internship is to complete your thesis,
    while at the same time delivering research results in the form of a published
    paper in a ranked peer-reviewed conference or in the form of production software.
</p>

<p>
    If you are an aspiring researcher, Decrypto is a great place to learn to
    perform research and publish your first paper which will help you towards
    a research-oriented career. We stand between theory and practice, so you
    will also deliver rigorous theoretical results or write production-grade software.
    We are at the forefront of research related to
    blockchains, anonymity and the political applications of cryptography,
    and our team comprises of scholars with strong theoretical foundations,
    as well as partners in the industry and open source communities who
    will make sure your results are impactful and used in practice.
</p>

{% set no_available = page.extra.proposals
    | filter(attribute="available", value=true) | length %}
{% if no_available > 0%}
    <h3>Available Theses</h3>
{% endif %}

{% for proposal in page.extra.proposals %}
    {% if proposal.available %}
        <div class='card mb-3'>
            <p class='card-header'>
                {{ proposal.title }}
            </p>
            <div class='card-body'>
                <h6>
                    Supervisor: {{ proposal.responsible }}
                </h6>
                <p class='card-text'>
                    {{ proposal.abstract | safe }}
                </p>
                <hr>
                <h6>
                   Level: {{ proposal.level }}
                </h6>
                <h6>
                    <div style='padding-top: 1em; color: #555; font-size: 90%'>
                        Contact: <a href="mailto:{{ proposal.contact }}">
                            {{ proposal.contact }}
                        </a>
                    </div>
                </h6>
                {% if proposal.funding %}
                    <h6>
                        Funding available!
                    </h6>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}

{% set no_assigned = page.extra.proposals
    | filter(attribute="available", value=false) | length %}
{% if no_assigned > 0 %}
  <h3>Assigned projects</h3>
{% endif %}

{% for proposal in page.extra.proposals %}
    {% if not proposal.available %}
        <div class='card mb-3'>
            <p class='card-header'>
                {{ proposal.title }}
            </p>
            <div class='card-body'>
                <h6>
                    Supervisor: {{ proposal.responsible }}
                </h6>
                {% if proposal.assignee %}
                    <h6>
                        Assignee: {{ proposal.assignee }}
                    </h6>
                {% endif %}
                <p class='card-text'>
                    {{ proposal.abstract | safe }}
                </p>
            </div>
        </div>
    {% endif %}
{% endfor %}

<p>
    Working as a researcher at Decrypto, you will conduct research in an
    independent manner but also working closely with your Decrypto supervisor.
    We accept students from universities worldwide. We will guide you
    in your day-to-day research working together with a professor from your university
    who will be your <strong>thesis host</strong> and function as your official
    supervisor.
</p>

<p>
    To apply for a thesis internship, please send an email to the contact person
    of your topic of interest. Please include your CV
    and transcript, as well as a contact to your thesis host professor from your
    university. If you have a concrete proposal that is not listed,
    contact us to discuss your proposal by reaching out to the contact person
    with a related topic of interest.
</p>

{% endblock content %}
